@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Tilt+Warp&display=swap");

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#__nuxt {
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
